.hero {
    background: url('/assets/banner-background.jpg') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    text-align: center;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /* Para melhorar a legibilidade do texto */
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-content button {
    background-color: #ff851b;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: #e67e22;
  }
  
  /* Em telas menores, empilhar os elementos verticalmente */
@media (max-width: 768px) {
    .sobre-wrapper {
      flex-direction: column;
    }
    
    .sobre-img, .sobre-texto {
      min-width: 100%;
      text-align: center;
    }
  }