/* src/components/Projetos.css */
.projetos {
    background-color: #f2f2f2;
    padding: 3rem 2rem;
    text-align: center;
  }

  .projetos a {
    text-decoration: none; /* Remove o sublinhado */
    color: #ff851b; /* Define uma cor padrão para os links */
    font-weight: bold; /* Torna o texto mais destacado */
    transition: color 0.3s ease; /* Adiciona uma transição suave para mudanças de cor */
}

.projetos a:hover {
    color: #001f3f; /* Altera a cor ao passar o mouse */
}
  
  .projetos h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #001f3f;
  }
  
  .projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .projeto-item {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .projeto-item h3 {
    color: #ff851b;
    margin-top: 0;
  }
  